
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h2 class="pull-left"><i class="fa fa-pencil-square-o"></i> Password Management</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
        <a href="#"><i class="fa fa-pencil-square-o"></i> Password Management</a>
        <!-- Divider -->
        <span class="divider">/</span>
        <a href="/Password/ChangePassword" class="bread-current"> Change Password</a>
    </div>

    <div class="clearfix"></div>

</div>
<div class="matter">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>

