
@{
    ViewBag.Title = "UploadProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-head">
    <h2 class="pull-left"><i class="fa fa-folder"></i> Property</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
        <a href="#"><i class="fa fa-folder"></i> Property</a>
        <!-- Divider -->
        <span class="divider">/</span>
        <a href="/Property/UploadProperty" class="bread-current"> Upload New Property</a>
    </div>

    <div class="clearfix"></div>

</div>
<div class="matter">
    <div class="container">
        <div class="row">

            <div class="col-md-12">


                <div class="widget wgreen">

                    <div class="widget-head">
                        <div class="pull-left">Upload New Property</div>
                       
                        <div class="clearfix"></div>
                    </div>

                    <div class="widget-content">
                        <div class="padd">
                            <br />
                            <!-- Form starts.  -->
                            <form class="form-horizontal" role="form">

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Title</label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" placeholder="Title of Property e.g. New 5 bedrooms in Lekki" id="property_title">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Property Type</label>
                                    <div class="col-lg-5">
                                        <select class="form-control" id="property_type">
                                            <option value="">Select Property Type</option>
                                            <option value="House">House</option>
                                            <option value="Flat">Flat</option>
                                            <option value="Land">Land</option>
                                            <option value="Commercial">Commercial</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Number of Bedrooms</label>
                                    <div class="col-lg-5">
                                        <select class="form-control" id="property_number_of_bedrooms">
                                            <option value="">Select Number of Bedrooms</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5+">5+</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Location</label>
                                    <div class="col-lg-5">
                                        <select class="form-control" id="property_location">
                                            <option value="">Select Location</option>
                                            <option value="Abia">Abia</option>
                                            <option value="Adamawa">Adamawa</option>
                                            <option value="Anambra">Anambra</option>
                                            <option value="Akwa Ibom">Akwa Ibom</option>
                                            <option value="Bauchi">Bauchi</option>
                                            <option value="Bayelsa">Bayelsa</option>
                                            <option value="Benue">Benue</option>
                                            <option value="Borno">Borno</option>
                                            <option value="Cross River">Cross River</option>
                                            <option value="Delta">Delta</option>
                                            <option value="Ebonyi">Ebonyi</option>
                                            <option value="Enugu">Enugu</option>
                                            <option value="Edo">Edo</option>
                                            <option value="Ekiti">Ekiti</option>
                                            <option value="Gombe">Gombe</option>
                                            <option value="Imo">Imo</option>
                                            <option value="Jigawa">Jigawa</option>
                                            <option value="Kaduna">Kaduna</option>
                                            <option value="Kano">Kano</option>
                                            <option value="Katsina">Katsina</option>
                                            <option value="Kebbi">Kebbi</option>
                                            <option value="Kogi">Kogi</option>
                                            <option value="Kwara">Kwara</option>
                                            <option value="Lagos">Lagos</option>
                                            <option value="Nasarawa">Nasarawa</option>
                                            <option value="Niger">Niger</option>
                                            <option value="Ogun">Ogun</option>
                                            <option value="Ondo">Ondo</option>
                                            <option value="Osun">Osun</option>
                                            <option value="Oyo">Oyo</option>
                                            <option value="Plateau">Plateau</option>
                                            <option value="Rivers">Rivers</option>
                                            <option value="Sokoto">Sokoto</option>
                                            <option value="Taraba">Taraba</option>
                                            <option value="Yobe">Yobe</option>
                                            <option value="Zamfara">Zamfara</option>
                                            <option value="Federal Capital Territory (FCT)">Federal Capital Territory (FCT)</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Price <img src="~/img/naira.png" alt="Naira image"/></label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" placeholder="Price of Property" id="property_price">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Property Decription</label>
                                    <div class="col-lg-5">
                                        <textarea class="form-control" rows="10" placeholder="Detailed Description of the Property" id="property_description"></textarea>
                                    </div>
                                </div>
                                
                                <div class="col-lg-offset-1 col-md-10">
                                    <div class="widget">
                                        <!-- Widget title -->
                                        <div class="widget-head">
                                            <div class="pull-left">Property Images</div>
                                            <div class="widget-icons pull-right">
                                                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>                                                
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="widget-content">
                                            <!-- Widget content -->
                                            <div class="padd">
                                                <div class="form-group">                                                    
                                                    <label class="col-lg-2 control-label">Select Images </label>
                                                    <div class="col-lg-5">
                                                        <p style="color:red;font-family:Calibri;font-weight:bold;">Note: Maximum image size allowed per upload is 500KB</p>
                                                        <input type="file" class="form-control" id="property_image_to_load">
                                                        <button type="button" style="margin-top:10px" class="btn btn-outline btn-info" onclick="loadImageFileAsURL()">Upload Image</button>  
                                                    </div>
                                                </div>

                                                <div class="form-group" id="images">                                                    
                                                    <div class="col-lg-12" id="potential_property_images" style="display:flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-foot">
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                               

                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-6">
                                        <button id="updateBtn" type="button" class="btn btn-outline btn-primary" onclick="saveProperty()">Save Property</button>                                       
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <!-- Footer goes here -->
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
@Scripts.Render("~/bundles/property")    
