
@{
    ViewBag.Title = "ViewProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-head">
    <h2 class="pull-left"><i class="fa fa-folder"></i> Property</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
        <a href="#"><i class="fa fa-folder"></i> Property</a>
        <!-- Divider -->
        <span class="divider">/</span>
        <a href="/Property/ViewProperty" class="bread-current"> View Properties</a>
    </div>

    <div class="clearfix"></div>

</div>
<div class="matter">
    <div class="container">
        <div class="row">

            <div class="col-md-12">


                <div class="widget wgreen">

                    <div class="widget-head">
                        <div class="pull-left">View Properties</div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="widget-content">
                        <div class="padd">
                            <br />
                            <table id="properties" class="cell-border" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Title</th>
                                        <th>Type</th>
                                        <th>No of Bedroom</th>
                                        <th>Location</th>
                                        <th>Price <img src="~/img/naira.png" alt="Naira image" /></th>
                                    </tr>
                                </thead>

                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Title</th>
                                        <th>Type</th>
                                        <th>No of Bedroom</th>
                                        <th>Location</th>
                                        <th>Price <img src="~/img/naira.png" alt="Naira image" /></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <p style="font-family:Calibri;font-size:12px;color:navy;font-weight:bold;text-shadow:inherit">List of uploaded properties</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/view_property")  


