
@{
    ViewBag.Title = "ViewProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-head">
    <h2 class="pull-left"><i class="fa fa-folder"></i> Manage Property</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
        <a href="#"><i class="fa fa-folder"></i> Manage Property</a>
        <!-- Divider -->
        <span class="divider">/</span>
        <a href="/Property/ViewProperty" class="bread-current"> View Properties</a>
    </div>

    <div class="clearfix"></div>

</div>
<div class="matter">
    <div class="container">
        <div class="row">
           
        </div>
    </div>
</div>


